*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #7fa6ca;
    min-height: 100vh;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.search{
    padding: 20px;
    background: #f5f5f5;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
}

label{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
}

input[type="text"]:focus{
    border: 1px solid #7fa6ca;
    box-shadow: #7fa6ca 0px 0px 5px 0px;
}

select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    width: 50%;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: #7fa6ca;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}

#meteo{
    background: #f5f5f5;
    border-radius: 10px;
    width: max-content;
    margin: 20px auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: top;
}

#ville{
    font-size: 1.5rem;
    font-weight: 600;
    color: #7fa6ca;
}
#icon{
    background-color: #7fa6ca;
    border-radius: 50%;
}
#temperature{
    font-size: 3rem;
    color: #7fa6ca;
}

.rain, .humidity, .wind{
    font-size: 0.8rem;
    color: rgb(96, 96, 96)
}
#date{
    font-size: 1.2rem;
    color: rgb(96, 96, 96)
}
#description{
    font-size: 1.2rem;
    color: rgb(96, 96, 96)
}

.row-previews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    background-color: #7fa6ca;
    border-radius: 50%;
}

.preview .icon img{
    width: 60px;
    height: 60px;
}